<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram - Home</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://www.instagram.com/static/images/ico/favicon.ico/36b3ee2d91ed.ico">
</head>

<body>
    <header>
        <img src="img/logo.png" alt="Instagram" class="logo">
    </header>
    <main>
        <section class="lista-posts">
            <% for (let post of listaPosts) { %> 
                <article>
                    <div class="post-header">
                        <div class="usuario">
                            <img src="img/avatar-example.png" alt="Foto de <%= post.usuario.nome %>">
                            <strong> <%= post.usuario.nome %> </strong>
                        </div>
                        <button><img src="img/icons/more-vertical.svg" alt=""></button>
                    </div>
                    <div class="img-principal" title="Foto da mesa do almoço" style="background-image: url('<%= post.img %>');"></div>
                    <div class="comentarios">
                        <div class="legenda">
                            <p> <%= post.texto %> </p> 
                            <div class="likes">
                                <button><img src="img/icons/heart.svg" alt=""></button>
                                <span><%= post.n_likes %> likes</span>
                            </div> 
                            <strong class="data">Postado <%= tempo(post.createdAt); %> </strong>
                        </div>
                        <ol>
                            <% for (let comentario of post.comentarios) { %>
                                <li>
                                    <p><strong> <%= comentario.usuario.nome %> </strong> <%= comentario.texto %> </p>
                                </li>
                            <% } %>
                        </ol>
                    </div>
                    <div class="comentar">
                        <input type="text" name="comentar" id="comentar" class="input-comentar" placeholder="Comentar...">
                        <button type="submit">Publicar</button>
                    </div>
                </article>
            <% } %>
        </section>
    </main>
    <footer>
        copyright - 2021
    </footer>
</body>

</html>